.s_mega_menu_multi_menus nav a{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    text-align: left !important;
}

@media (min-width: 992px)
{
header .navbar .dropdown-menu {
    max-height: 100vh !important;
    overflow-y: auto;
    overflow-x: hidden;
}
}